*, *:before, *:after {
  box-sizing: border-box;
}

body{
    font-family: roboto;
    font-size: 100%;
  }

  .container {
  margin: 0 auto;
  width: 375px;
  margin-left: 80px;
  background-color: #272727;
}

header {

  background-image: url("Base.png");
  background-repeat: no-repeat;
  height: 109px;
}

nav {
  display: inline-block;
  padding-left: 13px;
  color: #DDAC00;
  width: 375px;
  padding-top: 35px;
}

.searchbar {
  display: inline-block;
  background: white;
  border-radius: 5px;
  width: 345px;
  height: 28px;
  margin-left: 16px;
  margin-top: 30px;
}

.searchbar {
  color: #838383;
}

.fa-search {
  color: #838383;
}

.fa-search, div p {
  display: inline-block;
}


nav p {
  display: inline-block;
  padding-left: 10px;
}

nav h1 {
  display: inline-block;
  padding-left: 20px;
  font-size: 16pt;
}


.row {
  height: 70px;
  margin-left: 16px;
  border-bottom: 1px solid #DDAC00;
  width: 95%;
  padding-top: 25px;
}


.busnumber {
  display: inline-block;
  width: 42px;
  color: white;
}


.dest {
  display: inline-block;
  width: 200px;
  padding-left: 40px;
  color: white;
}

.time {
  display: inline-block;
  width: 80px;
  padding-left: 10px;
  color: white;
}

.chevron {
  display: inline-block;
  width: 20px;
  color: white;
  float: right;
}
